/* Shared styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.noto-font{
    font-family: "Noto Serif" , sans-serif;
}
.container{
    max-width: 1180px;
    margin: auto;
}
.description-text{
    color: rgba(0, 0, 0, 0.50);
    font-weight: 400;
    margin-top: 5px;
}
.heading{
    font-size: 50px;
    font-weight: 700;
}
.heading-color{
color: #E95A08;
}
.card-title{
    font-size: 22px;
    font-weight: 500;
    color: rgb(17, 17, 17);
}
.card-price{
    font-size: 22px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}
.btn{
    background-color: rgb(233, 90, 8);
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: none;
    padding: 15px 25px;
}
/* Header navigation bar design */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 100px;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 48px;   
}
.links li{
    list-style: none;
}
.links li a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(137, 135, 161);
}
.links .bold{
    font-weight: 750;
    color: black;
}
.links .exception{
    color: black;
}

/* Main Banner section */
.title h2{
    font-size: 65px;
    font-weight: 700;
/* line-height: 89px; */
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 120px auto;
}

/* Card section */
.card-section-title{
    text-align: center;
}
.card-section{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card-description{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-description > button {
    margin-top: 20px;
    width: 85%;
}
.card{
    margin-top: 30px;
}
.picture  img{
    width: 100%;
    height: auto;
    display: block;
}
.picture{
    width: 100%;
    /* overflow: hidden; */
}
/* Customer trust section */
.customer-trust-wrapper {
    position: relative;
}

.customer-trust {
    display: flex;
    gap: 90px;
    margin-top: 150px;
    margin-bottom: 40px;
    align-items: top;
}

.customer-trust-right > ul > li {
    margin-top: 20px;
}

.badge {
    position: absolute;
    /* top: -100px;
    right: 630px; */
    top: -15%;
    right: 48%;
    width: 200px;
    height: auto;
}
.customer-trust-left  img{
    width: auto;
    height: auto;
    display: block;
}

/* Deals section */
.deals-section{
    text-align: center;
}
.deals-section p{
    text-align: center;
    padding: 15px;
}
.deal-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.left-deals{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.deal-card1{
    background-image: url(assets/deal-bloom.png);
    width: 367px;
    height: 201px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
}
.deal-card2{
    background-image: url(assets/deal-ana.png);
    width: 367px;
    height: 198px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
}
.deal-card3{
    background-image: url(assets/deal-zabo.png);
    width: 700px;
    height: 419px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.deal-info {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}
.deal-info h3{
    font-size:10px ;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    /* padding: 10px; */
}
.deal-info h3{
    font-size:32px ;
    color: white;
}
.deal-info a{
    color: white;
    font-size: 20px;
}

/* Responsive design */
/* For mobile devie resolution  */
@media screen and (max-width:576px) {
    .links li{
        display: none;
    }
    .links li:nth-child(4){
        display: inline-block; 
    }
    .nav{
        margin: 20px;
    }

    /* Banner section */
    .banner{
        flex-direction: column;
        margin-top: 26px;
        margin-bottom: 26px;
    }
    .banner img{
        max-width: 100%;
        height: auto;
        
    }
    .title{
        order: 2 ;
        padding: 16px;
    }
    .title h2{
        font-size: 24px;
    }
    .title p{
        font-size: 14px;
    }
    .banner-right{
        order: 1;
    }

    /* card section */
    .card-section{
        display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    }
    .card{
    margin-top: 15px;
    }
    .card-description > button {
    margin-top: 20px;
    width: 85%;
    }   
    .heading{
    font-size: 24px;
    font-weight: 700;
    }
    .description-text{
        font-size: 14px;
    }
    .btn{
    background-color: rgb(233, 90, 8);
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: none;
    padding: 15px 25px;
}
.card-description > button {
    margin-top: 20px;
    width: 100%;
}
.card-title{
    font-size: 19px;
    font-weight: 500;
    color: rgb(17, 17, 17);
}
.card-price{
    font-size: 19px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}
/* trust section */
.customer-trust {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: top;
}
.badge{
    display: none;
}
.customer-trust-left  img{
    padding: 10px;
    width: 100%;
}
.customer-trust-right > ul > li {
    margin-top: 10px;
}
.customer-trust-right{
    padding: 25px;
}
    
.mobile-hide{
    display: none;
}

/* Deals section */
.deals-section{
    padding: 10px;
}
.deal-card3{
    width: 367px;
    height: 198px;
}
.deal-container{
    margin-top: 30px;
}

}